@import "assets/mixins";

body {
	font-family: 'Francois One', sans-serif;
	height: 100vh;
}

a {
	text-decoration: none;
	color: #fff;
	&:hover {
		color: $pink;
	}
}

nav {
	width: 100vw;
	display: flex;
	flex-flow: column;
	font-size: 28px;
	text-transform: uppercase;
	color: #fff;
	p {
		height: calc(100vh / 4);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	@include colorchange;
}

.idea {
	background-color: $lightblue;
}
